# Logistic Regression Using IRIS data set

In [46]:
#Problem:Predict the class of the flower based on available attributes.
#Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [48]:
#import dataset & show first 5

irisdata=pd.read_csv("D:\\datasets\\iris.csv")
irisdata.head()

   sepal.length  sepal.width  petal.length  petal.width species
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [49]:
irisdata.shape

(150, 5)

In [50]:
irisdata.describe

<bound method NDFrame.describe of      sepal.length  sepal.width  petal.length  petal.width    species
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
5             5.4          3.9           1.7          0.4     Setosa
6             4.6          3.4           1.4          0.3     Setosa
7             5.0          3.4           1.5          0.2     Setosa
8             4.4          2.9           1.4          0.2     Setosa
9             4.9          3.1           1.5          0.1     Setosa
10            5.4          3.7           1.5          0.2     Setosa
11            4.8          3.4           1.6          0.2     Setosa
12            4.8          3.0           1.4          0.1     Setosa
13            4.3          3.0           1.1          0.1     Setosa
14            5.8          4.0           1.2          0.2     Setosa
15            5.7          4.4           1.5          0.4     Setosa
16            5.4          3.9           1.3          0.4     Setosa
17            5.1          3.5           1.4          0.3     Setosa
18            5.7          3.8           1.7          0.3     Setosa
19            5.1          3.8           1.5          0.3     Setosa
20            5.4          3.4           1.7          0.2     Setosa
21            5.1          3.7           1.5          0.4     Setosa
22            4.6          3.6           1.0          0.2     Setosa
23            5.1          3.3           1.7          0.5     Setosa
24            4.8          3.4           1.9          0.2     Setosa
25            5.0          3.0           1.6          0.2     Setosa
26            5.0          3.4           1.6          0.4     Setosa
27            5.2          3.5           1.5          0.2     Setosa
28            5.2          3.4           1.4          0.2     Setosa
29            4.7          3.2           1.6          0.2     Setosa
..            ...          ...           ...          ...        ...
120           6.9          3.2           5.7          2.3  Virginica
121           5.6          2.8           4.9          2.0  Virginica
122           7.7          2.8           6.7          2.0  Virginica
123           6.3          2.7           4.9          1.8  Virginica
124           6.7          3.3           5.7          2.1  Virginica
125           7.2          3.2           6.0          1.8  Virginica
126           6.2          2.8           4.8          1.8  Virginica
127           6.1          3.0           4.9          1.8  Virginica
128           6.4          2.8           5.6          2.1  Virginica
129           7.2          3.0           5.8          1.6  Virginica
130           7.4          2.8           6.1          1.9  Virginica
131           7.9          3.8           6.4          2.0  Virginica
132           6.4          2.8           5.6          2.2  Virginica
133           6.3          2.8           5.1          1.5  Virginica
134           6.1          2.6           5.6          1.4  Virginica
135           7.7          3.0           6.1          2.3  Virginica
136           6.3          3.4           5.6          2.4  Virginica
137           6.4          3.1           5.5          1.8  Virginica
138           6.0          3.0           4.8          1.8  Virginica
139           6.9          3.1           5.4          2.1  Virginica
140           6.7          3.1           5.6          2.4  Virginica
141           6.9          3.1           5.1          2.3  Virginica
142           5.8          2.7           5.1          1.9  Virginica
143           6.8          3.2           5.9          2.3  Virginica
144           6.7          3.3           5.7          2.5  Virginica
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [51]:
#label encode the target variable
encode = LabelEncoder()
irisdata.species = encode.fit_transform(irisdata.species)

print(irisdata.head())

   sepal.length  sepal.width  petal.length  petal.width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [52]:
#train & Test split
train , test = train_test_split(irisdata,test_size=0.25,random_state=0)

In [53]:
print('Training data:',train.shape)
print('Testing data:',test.shape)

Training data: (112, 5)
Testing data: (38, 5)

In [54]:
train_x=train.drop(["species"],axis=1,inplace=False)
train_x.head()

     sepal.length  sepal.width  petal.length  petal.width
61            5.9          3.0           4.2          1.5
92            5.8          2.6           4.0          1.2
112           6.8          3.0           5.5          2.1
2             4.7          3.2           1.3          0.2
141           6.9          3.1           5.1          2.3

In [55]:
train_y=train['species']

In [56]:
test_x=test.drop(["species"],axis=1,inplace=False)
test_x.head()

     sepal.length  sepal.width  petal.length  petal.width
114           5.8          2.8           5.1          2.4
62            6.0          2.2           4.0          1.0
33            5.5          4.2           1.4          0.2
107           7.3          2.9           6.3          1.8
7             5.0          3.4           1.5          0.2

In [57]:
test_y=test['species']

In [58]:
#model Bulding
from sklearn.linear_model import LogisticRegression
model = LogisticRegression()

model.fit(train_x,train_y)

predict = model.predict(test_x)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [59]:
print('Predicted Values on Test Data',encode.inverse_transform(predict))

Predicted Values on Test Data ['Virginica' 'Versicolor' 'Setosa' 'Virginica' 'Setosa' 'Virginica'
 'Setosa' 'Versicolor' 'Versicolor' 'Versicolor' 'Virginica' 'Versicolor'
 'Versicolor' 'Versicolor' 'Versicolor' 'Setosa' 'Virginica' 'Versicolor'
 'Setosa' 'Setosa' 'Virginica' 'Virginica' 'Setosa' 'Setosa' 'Virginica'
 'Setosa' 'Setosa' 'Versicolor' 'Versicolor' 'Setosa' 'Virginica'
 'Virginica' 'Setosa' 'Virginica' 'Virginica' 'Virginica' 'Setosa'
 'Virginica']

In [60]:
print('\n\nAccuracy Score on test data : \n\n')
print(accuracy_score(test_y,predict))

Accuracy Score on test data :


0.868421052631579